automation/n8n/Kuma → Discord Alerts.json
{
  "name": "Kuma → Discord Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/kuma-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b0066e33-1eed-43d1-af80-f20df45000c3",
      "name": "Webhook",
      "webhookId": "796bc6c5-f11e-4c55-9247-903f4de4e349"
    },
    {
      "parameters": {
        "jsCode": "const root = $json;\nconst body = root.body || {};\nconst monitor = body.monitor || {};\nconst heartbeat = body.heartbeat || {};\n\nconst monitorName =\n  monitor.name ||\n  monitor.friendly_name ||\n  body.monitorName ||\n  'Test Notification';\n\nlet rawStatus =\n  heartbeat.status ??\n  body.status ??\n  'info';\n\nlet statusText = String(rawStatus).toLowerCase();\nif (statusText === '0') statusText = 'down';\nif (statusText === '1') statusText = 'up';\nif (statusText === '2') statusText = 'pending';\nif (statusText === '3') statusText = 'paused';\n\nconst msg =\n  body.msg ||\n  heartbeat.msg ||\n  '';\n\nconst url =\n  monitor.url ||\n  monitor.hostname ||\n  body.monitorUrl ||\n  '';\n\nconst time = new Date().toISOString();\n\nreturn [{\n  monitorName,\n  status: statusText,\n  msg,\n  url,\n  time,\n  content: [\n    '🔔 Uptime Alert',\n    `Monitor: ${monitorName}`,\n    `Status: ${statusText.toUpperCase()}`,\n    url ? `URL: ${url}` : '',\n    msg ? `Message: ${msg}` : '',\n    `Time (UTC): ${time}`,\n  ].filter(Boolean).join('\\n')\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "cd33852b-caeb-411b-b510-ba2ee98f7aa3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1440472318865445079/1qb3I9nv2yTJYOqtDYvVdXU3k9Nu63EVNeSd0NC0o_rGo_fEvfCqCaTafZbjhueaSjrn",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.content}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "7c23e153-3396-4c4a-be20-6440b926819b",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11169ccc-3f8c-48f2-96a6-67957def98d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd336f63449417bf84c3ce149d98dfde122a2416d5bdc59b60f90d49cbb1701a"
  },
  "id": "c85Ogvc9KBno2uiH",
  "tags": []
}